<div id="dialog" style="display: none;">
  <div class="mdl-dialog-bg"></div>
  <div class="mdl-dialog">
      <div class="mdl-dialog__content">
        <p><i class="material-icons">warning</i></p>
        <p class="mdl-dialog__message dialog-message">
        </p>
      </div>
      <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button mdl-button--raised mdl-button--colored dialog-button" data-type="confirm">
          {{t "qor_admin.dialog.button.confirm" "confirm"}}
        </button>
        <button type="button" class="mdl-button dialog-button" data-type="">
          {{t "qor_admin.dialog.button.cancel" "cancel"}}
        </button>
      </div>
    </div>
</div>
