<div class="qor-field">
  <label class="qor-field__label" for="{{.InputId}}">
    {{meta_label .Meta}}
  </label>

  <div class="qor-field__show">
    {{.Value}}
  </div>

  {{if .Meta.Config.Select2ResultTemplate}}
    <script name="select2-result-template" type="x-tmpl-mustache">
      {{.Meta.Config.Select2ResultTemplate}}
    </script>
  {{end}}

  {{if .Meta.Config.Select2SelectionTemplate}}
    <script name="select2-selection-template" type="x-tmpl-mustache">
      {{.Meta.Config.Select2SelectionTemplate}}
    </script>
  {{end}}

  <div class="qor-field__block qor-field__edit">
    {{if (eq .Meta.Config.SelectMode "bottom_sheet")}}

        {{$current_values := (raw_value_of .ResourceValue .Meta)}}

        <p class="qor-field__selected">
          <span>
            {{range $values := (.Meta.Config.GetCollection .ResourceValue .Context)}}
              {{if (is_included $current_values (index $values 0))}}
                {{index $values 1}}
              {{end}}
            {{end}}
          </span>
          <a href="javascripr://" class="qor-selected__remvoe"><i class="material-icons">remove_circle_outline</i></a>
        </p>

        <a href="javascript://" data-select-one="true" data-select-id="#{{.InputId}}" data-url="{{.Context.Admin.GetRouter.Prefix}}/{{.Meta.Config.RemoteDataURL}}">{{t "qor_admin.form.select_an_option" "Select an Option"}}</a>

        <select id="{{.InputId}}" class="qor-field__input hidden" name="{{.InputName}}" {{if not (has_update_permission .Meta)}}disabled{{end}}>
          {{range $values := (.Meta.Config.GetCollection .ResourceValue .Context)}}
            {{if (is_included $current_values (index $values 0))}}
              <option value="{{index $values 0}}" selected>{{index $values 1}}</option>
            {{else}}
              <option value="{{index $values 0}}">{{index $values 1}}</option>
            {{end}}
          {{end}}
        </select>

    {{else}}

        <select id="{{.InputId}}" class="qor-field__input hidden" data-toggle="qor.chooser" data-placeholder="{{t "qor_admin.form.select_an_option" "Select an Option"}}" name="{{.InputName}}" {{if not (has_update_permission .Meta)}}disabled{{end}} {{if .Meta.Config.AllowBlank}}data-allow-clear="true"{{end}} {{if .Meta.Config.RemoteDataURL}}data-remote-data-url="{{.Context.Admin.GetRouter.Prefix}}/{{.Meta.Config.RemoteDataURL}}"{{end}}>
          {{$current_values := (raw_value_of .ResourceValue .Meta)}}
          {{if .Meta.Config.RemoteDataURL}}
            <option value="{{primary_key_of $current_values}}" selected>{{.Value}}</option>
          {{else}}
            {{range $values := (.Meta.Config.GetCollection .ResourceValue .Context)}}
              {{if (is_included $current_values (index $values 0))}}
                <option value="{{index $values 0}}" selected>{{index $values 1}}</option>
              {{else}}
                <option value="{{index $values 0}}">{{index $values 1}}</option>
              {{end}}
            {{end}}
          {{end}}
        </select>

    {{end}}
  </div>
</div>
