@media only screen
and (min-device-width : 320px)
and (max-device-width : 736px) {
  .qor-layout .mdl-layout__content{
    padding-top: 0 !important;
  }

  .qor-table{
    margin: 0;
    .is-fixed{
      display: none;
    }
  }
  .qor-section{
    margin: 24px 0;
    .qor-section__header{
      margin-left: 24px;
    }
  }
  .qor-page--dashboard .qor-table-container{
    @include shadow-2dp();
    th{
      background-color: transparent;
    }
  }
  .qor-table-container{
    margin: 0 0 24px 0;
    th{
      background-color: #f5f5f5;
    }
    .mdl-data-table{
      border-top: 0;
    }
  }
  .qor-action--select + .qor-selector, .qor-action--select + .qor-action--label, .qor-action--select + .qor-action--select{
    margin-left: 0;
    margin-right: 8px;
    margin-bottom: 8px;
  }
  .qor-search{
    &.is-focused{
      width: 360px;
      background-color: #0277bd;
    }
    .mdl-textfield__expandable-holder{
      width: calc(100% - 64px);
    }
  }
  .qor-modal .mdl-card{
    margin: 24px auto;
  }
  .qor-form-container{
    margin: 0;
    padding: 16px;
  }

  .qor-page__header+.qor-page__body{
    padding-top: 8px;
  }

  /* Header */

  header{
    .mdl-layout__header-row{
      padding-left: 56px;
      .qor-mobile--show-actions{
        color: #fff;
      }
    }
    .mdl-layout-title, .mdl-layout__title{
      font-size: 16px;
    }

    &.has-search{
      .qor-mobile--show-actions{
        margin-right: 48px;
      }
    }

  }
  .qor-page__header{
    min-height: 0;
    background: transparent;
    margin-bottom: 2px;
    & > div{
      display: none;
    }
    &.actions-show{
      background: #fff;
      & > div{
        display: block;
      }
      .qor-search-container{
        background-color: #0277bd;
      }
    }
    .qor-search-container {
      position: absolute;
      top: -52px;
      right: 8px;
      z-index: 9999;
      .material-icons{
        color: #fff;
      }
    }
  }
}