/* qor select one,many layout */

.qor-field__selectone{
  padding-top: 10px;
  .qor-field__selectone-trigger{
    margin-left: -16px;
  }
  .qor-field__selected{
    padding-top: 10px;
    margin: 0;
    > span, > a{
      display: inline-block;
      vertical-align: middle;
    }
    > span{
      font-size: 16px;
      color: unquote("rgb(#{$color-primary})");
      cursor: pointer;
    }
    > a{
      color: unquote("rgba(#{$color-black}, 0.54)");
      font-size: 14px;
      line-height: 1;
      margin-left: 8px;
    }
  }
}

.qor-field__selectmany{
  .qor-field__selectmany-trigger{
    float: right;
  }
  .qor-field__selected-many{
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 0;
    > li{
      border: #E0E1E2 1px solid;
      background-color: #F8F9FA;
      border-radius: 2px;
      list-style: none;
      display: inline-block;
      vertical-align: top;
      margin: 0 6px 6px 0;
      line-height: 1;
      padding: 4px 8px;
      font-size: 12px;
      > span, > a{
        display: inline-block;
        vertical-align: middle;
      }
      > a{
        color: unquote("rgba(#{$color-black}, 0.26)");
        line-height: 1;
        margin-left: 8px;
        i{
          width: 14px;
          height: 14px;
          font-size: 14px;
        }
      }

      .qor-selected-many__undo {
        color: #03A9F4;
        padding: 2px;
        text-decoration: none;
        display: none;
      }

      &.deleted {
        background-color: #F2F2F2;
        span {
          text-decoration: line-through;
          color: unquote("rgba(#{$color-black}, 0.26)");
        }

        .qor-selected-many__remove {
          display: none;
        }
        .qor-selected-many__undo {
          display: inline-block;
        }
      }
    }
  }
}

.qor-selectmany__select-icon{
  position: absolute;
  left: -32px;
  top: 11px;
  color: unquote("rgba(#{$color-black}, 0.26)");
  i{
    color: unquote("rgba(#{$color-black}, 0.26)");
  }
}

tr.is_selected{
  .qor-selectmany__select-icon{
    color: unquote("rgb(#{$color-primary})");
    i{
      color: unquote("rgb(#{$color-primary})");
    }
  }
}

.qor-selectmany__hint{
  font-size: 14px;
  > span{
    float: left;
  }
  > a{
    float: right;
    text-decoration: none;
  }
}
