{{ $paginationResult := pagination }}
{{ if $paginationResult }}
  <div class="qor-actions" data-toggle="qor.filter">
    {{ if eq -1 $paginationResult.Pagination.PerPage }}
      <select class="qor-action--select" data-toggle="qor.selector" data-clearable="true" name="per_page" placeholder="{{t "qor_admin.pagination.show_all" "All"}}">
    {{ else }}
      <select class="qor-action--select" data-toggle="qor.selector" data-clearable="true" name="per_page" placeholder="{{$paginationResult.Pagination.PerPage}}">
    {{ end }}
      <option value="20">20</option>
      <option value="50">50</option>
      <option value="100">100</option>
      <option value="-1">{{t "qor_admin.pagination.show_all" "All"}}</option>
    </select>
  </div>
{{ end }}
