<div class="qor-admin-filter qor-field">
  <label class="qor-filter__label">
    {{.Filter.Label}}
  </label>

  {{if .Filter.Config.Select2ResultTemplate}}
    <script name="select2-result-template" type="x-tmpl-mustache">
      {{.Filter.Config.Select2ResultTemplate}}
    </script>
  {{end}}

  {{if .Filter.Config.Select2SelectionTemplate}}
    <script name="select2-selection-template" type="x-tmpl-mustache">
      {{.Filter.Config.Select2SelectionTemplate}}
    </script>
  {{end}}

  <div class="qor-filter__block qor-filter__selectone" {{if (eq .Filter.Config.SelectMode "bottom_sheet")}} data-toggle="qor.selectone"{{end}}>
    <select class="qor-field__input hidden" data-toggle="qor.chooser" data-placeholder="{{t "qor_admin.form.select_an_option" "Select an Option"}}" name="{{.InputNamePrefix}}.Value" data-allow-clear="true" {{if .Filter.Config.RemoteDataResource}}data-remote-data-url="{{url_for .Filter.Config.RemoteDataResource}}"{{end}}>
    </select>
  </div>
</div>
