/*Reset for cropper*/

.redactor-air, .redactor-toolbar {
    font-family: Roboto, Helvetica, Arial, sans-serif !important;
}

.redactor-box {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

.redactor-styles {
    font-family: Roboto, Helvetica, Arial, sans-serif !important;
    border: 0;
    iframe.qor-video-container {
        height: 380px;
        margin-bottom: 16px;
    }
    pre {
        white-space: normal;
    }
    figure, h1, h2, h3, h4, h5, h6, p, code, pre {
        font-family: Roboto, Helvetica, Arial, sans-serif !important;
        position: relative;
    }
}

.redactor-toolbar {
    border-bottom: 1px solid unquote("rgba(#{$color-black}, 0.1)");
    box-shadow: none;
    li a {
        padding: 12px;
    }
    i {
        font-size: 18px;
        &.html:after {
            content: "code";
        }
        &.link:after {
            content: "insert_link";
        }
        &.image:after {
            content: "image";
        }
        &.format:after {
            content: "text_fields";
        }
        &.bold:after {
            content: "format_bold";
        }
        &.file:after {
            content: "attach_file";
        }
        &.italic:after {
            content: "format_italic";
        }
        &.deleted:after {
            content: "strikethrough_s";
        }
        &.lists:after {
            content: "format_line_spacing";
        }
        &.table:after {
            content: "grid_on";
        }
    }
}

.redactor-link-tooltip {
    z-index: 1000;
}
