// Bottomsheets
// --------------------------------------------------


// Class for body element to prevent scroll
.qor-bottomsheets-open {
  overflow: hidden;
}


.qor-bottomsheets {
  position: fixed;
  bottom: 0;
  width: 0;
  height: 0;
  left: 50%;
  z-index: $zindex-bottomsheets;
  display: none;
  -webkit-overflow-scrolling: touch;
  @include shadow-16dp();
  &.is-shown {
    display: block;
    width: 360px;
    margin-left: -180px;
    transition: height 0.3s ease;
    .qor-bottomsheets__body {
      padding: 16px 24px 16px 54px;
      background-color: #fff;
      height: calc(100% - 65px);
    }
    &::after{
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      content: '';
      background-color: rgba(0, 0, 0, 0.54);
      z-index: $zindex-bottomsheets - 10;
    }
  }

  &.is-slided{
    height: 500px;
  }

  .qor-error {
    margin-right: 0;
    margin-left: 0;
    box-shadow: none;
  }

  .qor-page__header{
    display: none;
  }

  .qor-button--new{
    position: absolute;
    top: 10px;
    right: -20px;
    bottom: auto;
    width: 42px;
    min-width: 42px;
    height: 42px;
    line-height: 42px;
  }

  .qor-pagination-container{
    margin: 24px 0;
    .qor-pagination{
      margin: 0;
    }
    .qor-actions{
      display: none;
    }
  }
  .qor-table{
    margin: 0;
    box-shadow: none;
    td{
      padding: 10px;
    }
    thead,td.qor-table__actions{
      display: none;
    }
    &::before{
      display: none;
    }
  }

}

.qor-bottomsheets__header {
  position: relative;
  box-sizing: border-box;
  z-index: $zindex-bottomsheets;
  background-color: #fff;

  .qor-bottomsheets__title {
    position: relative;
    margin: 0;
    padding: 20px 0;
    margin-left: 54px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    background-color: #fff;
    font-size: 24px;
    line-height: 1;
  }

  .qor-bottomsheets__close {
    position: absolute!important;
    top: 16px;
    left: 16px;
    color: rgba(0, 0, 0, 0.54);
  }
}

.qor-bottomsheets__body {
  position: relative;
  box-sizing: border-box;
  z-index: $zindex-bottomsheets;
  overflow: auto;

  .qor-action-forms{
    display: block !important;
    margin-top: 0;
    .qor-form__actions{
      margin-top: 0;
    }
  }

}

.qor-bottomsheets .qor-page__body .qor-form-container {
  padding: 0;
  margin: 20px 0;
  box-shadow: none;
}
