// Slideout
// --------------------------------------------------
// Class for body element to prevent scroll
.qor-slideout-open {
    overflow: hidden;
}

.qor-slideout {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: $zindex-slideout;
    display: none;
    background-color: #f5f5f5;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    @include shadow-16dp();
    .qor-form-container {
        background-color: transparent;
    }
    .qor-fieldset {
        background-color: #fff;
    }
    figure {
        margin: 0;
    }
    img {
        max-width: 100%;
    }
    &.is-shown {
        display: block;
        width: 0;
        transition: width 0.3s ease;
    }
    &.is-slided {
        width: 100%;
        @media (min-width: $layout-screen-size-threshold) {
            width: 50%;
            &.qor-slideout-mini {
                width: 480px;
            }
        }
    }
    .qor-error {
        margin-right: 0;
        margin-left: 0;
        box-shadow: none;
    }
}

.qor-slideout__header {
    position: relative;
    height: 64px;
    padding: 0 24px;
    background-color: unquote("rgb(#{$color-primary})");
}

.qor-slideout__title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 24px;
    line-height: 64px;
    font-weight: 500;
    color: #fff;
}

.qor-slideout__close {
    position: absolute !important;
    top: 16px;
    right: 16px;
    color: #fff;
}

.qor-slideout__body {
    padding: 16px 24px;
    .qor-action-alert {
        margin: 56px 0 0;
    }
    .qor-action-bulk-buttons {
        display: none !important;
    }
    .qor-action-forms {
        display: block !important;
        margin-top: 0;
        .qor-form__actions {
            margin-top: 0;
        }
    }
    .qor-page__header {
        position: relative;
        top: inherit;
        width: calc(100% + 48px);
        +.qor-page__body {
            padding-top: 0;
        }
        &:empty {
            display: none;
        }
    }
}

.qor-slideout .qor-page__body .qor-form-container {
    padding: 0;
    margin: 20px 0;
    box-shadow: none;
    background-color: transparent;
}

.qor-body__loading {
    position: absolute;
    top: 80px;
    left: 50%;
    width: 100px;
    margin-left: -50px;
    padding: 30px 0;
    border-radius: 2px;
    z-index: 9999;
    background-color: unquote("rgba(#{$color-black}, 0.72)");
    >div {
        text-align: center;
    }
}