.select2-container{
  .select2-selection--single{
    height: auto;
    min-height: 30px;
    &:focus{
      outline: none;
    }
  }
}
.select2-container--default{
  &.select2-container--open {
    .select2-selection--single .select2-selection__arrow{
      &:hover{
        b{
          border-color: transparent transparent #fff;
        }
      }
      b{
        border-width: 0 5px 6px;
      }
    }
  }
  .select2-selection--single{
    border-radius: 2px;
    border: 2px solid #2196f3;
    .select2-selection__arrow{
      height: 30px;
      width: 24px;
      &:hover{
        background-color: #2196f3;
        b{
          border-color: #fff transparent transparent;
        }
      }
      b{
        border-width: 6px 5px 0;
      }
    }
    .select2-selection__clear{
      font-size: 20px;
      padding: 0 8px;
      &:hover{
        background-color: #2196f3;
        color: #fff;
      }
    }
  }
  .select2-results__option--highlighted[aria-selected]{
    background-color: #2196f3;
  }
}

.select2-dropdown{
  border: 0;
  @include shadow-2dp();
  .select2-results__option{
    height: 48px;
    padding: 0 16px;
    line-height: 48px;
  }
}

.select2-container--disabled{
  .select2-selection--single{
    border-color: unquote("rgba(#{$color-black}, 0.12)");
    .select2-selection__rendered{
      color: unquote("rgba(#{$color-black}, 0.24)");
    }
  }
}
