{{$meta := .Meta}}
{{range $index, $value := .Value }}
  {{$url := url_for $value}}
  {{if $url}}
    <a data-url="{{$url}}" href="{{$url}}">{{stringify $value}}</a>
  {{else}}
    {{stringify $value}}
  {{end}}
{{end}}
